<section
  class="container min-vh-100 text-center d-flex flex-column justify-content-center align-items-center"
  id="howToPlay"
>
  <div class="row mt-2 mt-md-0">
    <div class="col-12 col-lg-6 offset-lg-3">
      <h2
        class="pixel-font pixel-xl font-bold"
        data-aos="fade-up"
        data-aos-duration="1000"
      >
        Sobre o Projeto
      </h2>

      <p
        class="pixel-font pixel-md mt-5"
        data-aos="fade-up"
        data-aos-delay="200"
        data-aos-duration="1000"
      >
        O <strong>Quiz Pixelado</strong> é uma experiência divertida que une
        nostalgia, conhecimento e visual retrô.
      </p>
    </div>
  </div>

  <div class="row gap-5 gap-md-0 mt-5">
    <div class="col-12 col-lg-4">
      <div
        class="card h-100 bg-dark text-white shadow-lg border-light"
        data-aos="zoom-in"
        data-aos-delay="300"
        data-aos-duration="1000"
      >
        <img
          src="https://res.cloudinary.com/dholbtxkp/image/upload/v1748096701/start_mngegc.png"
          class="card-img-top"
          alt="Quiz"
        />
        <div class="card-body">
          <h5 class="pixel-font pixel-md">Como Funciona</h5>
          <p class="pixel-font pixel-sm">
            Responda perguntas, acumule pontos e veja sua pontuação no ranking!
          </p>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-4">
      <div
        class="card h-100 bg-dark text-white shadow-lg border-light"
        data-aos="zoom-in"
        data-aos-delay="500"
        data-aos-duration="1000"
      >
        <img
          src="https://res.cloudinary.com/dholbtxkp/image/upload/v1748096799/about_hfijlc.png"
          class="card-img-top"
          alt="Regras"
        />
        <div class="card-body">
          <h5 class="pixel-font pixel-md">Regras</h5>
          <p class="pixel-font pixel-sm">
            Você tem tempo limitado e tentativas reduzidas para cada pergunta!
          </p>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-4">
      <div
        class="card h-100 bg-dark text-white shadow-lg border-light"
        data-aos="zoom-in"
        data-aos-delay="700"
        data-aos-duration="1000"
      >
        <img
          src="https://res.cloudinary.com/dholbtxkp/image/upload/v1748179476/card_ooln7b.jpg"
          class="card-img-top"
          alt="Crie"
        />
        <div class="card-body">
          <h5 class="pixel-font pixel-md">Sem Limites</h5>
          <p class="pixel-font pixel-sm">
            Faça seus próprios Quizes! e desafie um amigo
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
