<header class="bg p-2 fixed-top shadow" [@fadeIn]>
  <div
    class="container-fluid d-flex justify-content-between align-items-center"
  >
    <!-- Logo -->
    <a class="logo pixel-font pixel-md font-bold text-uppercase" routerLink=""
      >mind rush</a
    >

    <!-- Botão do menu hamburguer -->
    <button
      class="navbar-toggler d-lg-none border-0"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#mobileMenu"
      aria-controls="mobileMenu"
      aria-label="Toggle navigation"
    >
      <i class="bi bi-list fs-1 text-light"></i>
    </button>

    <!-- Menu desktop -->
    <nav class="d-none d-lg-flex gap-4 align-items-center">
      <a
        class="pixel-md text font-medium nav-link"
        routerLink="home/list-quiz"
        routerLinkActive="active"
        >Jogar</a
      >
      <a
        class="pixel-md text font-medium nav-link"
        routerLink="home/build-quiz"
        routerLinkActive="active"
        >Criar</a
      >
      <a
        class="pixel-md text font-medium nav-link"
        (click)="scrollTo('about')"
        routerLinkActive="active"
        >Sobre</a
      >
      <a
        class="pixel-md text font-medium nav-link"
        (click)="scrollTo('rules')"
        routerLinkActive="active"
        >Regras</a
      >
    </nav>
  </div>

  <!-- Offcanvas (menu mobile) -->
  <div
    class="offcanvas offcanvas-end"
    tabindex="-1"
    id="mobileMenu"
    aria-labelledby="mobileMenuLabel"
  >
    <div class="offcanvas-header">
      <a
        class="offcanvas-title pixel-font pixel-lg title"
        id="mobileMenuLabel"
        data-bs-dismiss="offcanvas"
        routerLink=""
      >
        Home
      </a>
      <button
        type="button"
        class="btn-close btn-close-white"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
      ></button>
    </div>
    <div class="offcanvas-body min-vh-100 d-flex flex-column gap-3">
      <a
        class="pixel-sm nav-link text-light"
        routerLink="home/list-quiz"
        routerLinkActive="active"
        data-bs-dismiss="offcanvas"
        >Jogar</a
      >
      <a
        class="pixel-sm nav-link text-light"
        routerLink="home/build-quiz"
        routerLinkActive="active"
        data-bs-dismiss="offcanvas"
        >Criar</a
      >
      <a
        class="pixel-sm nav-link text-light"
        (click)="scrollTo('howToPlay')"
        routerLinkActive="active"
        data-bs-dismiss="offcanvas"
        >Sobre</a
      >
      <a
        class="pixel-sm nav-link text-light"
        (click)="scrollTo('rules')"
        routerLinkActive="active"
        data-bs-dismiss="offcanvas"
        >Regras</a
      >
    </div>
  </div>
</header>
