<div class="container text-center py-5">
  <div class="row g-4 justify-content-center" data-aos="fade-up">
    @for (quiz of quizez; track quiz.id) {
    <div class="col-12 col-md-8 col-lg-6">
      <div class="book-card position-relative p-4 shadow-lg">
        <div class="book-edge"></div>

        <!-- Título -->
        <h2 class="pixel-font pixel-lg title mb-3">
          {{ quiz.title }}
        </h2>

        <!-- Descrição -->
        <p class="pixel-font pixel-sm text mb-4">
          {{ quiz.desc }}
        </p>

        <!-- Botão Jogar -->
        <button
          class="btn btn-pixel btn-primary-pixel"
          [routerLink]="['/list-quiz', quiz.id, 'start-quiz']"
        >
          📖 Jogar
        </button>
      </div>
    </div>
    }
  </div>
</div>
