<div
  class="container d-flex justify-content-center align-items-center d-block d-md-none text-center p-3"
>
  <div class="row w-100 d-flex flex-column align-items-center">
    <app-title data-aos="fade-down" data-aos-duration="800"></app-title>
    <div class="col-12">
      <h3
        class="pixel-font pixel-lg font-medium text-light mb-3"
        data-aos="fade-up"
        data-aos-delay="100"
        data-aos-duration="800"
      >
        Bem-vindo ao Quiz Retrô!
      </h3>
      <img
        src="https://res.cloudinary.com/dholbtxkp/image/upload/v1748180498/intro-mobile_ahogi5.jpg"
        alt="intro img"
        class="img-fluid mb-3"
        data-aos="zoom-in"
        data-aos-delay="200"
        data-aos-duration="800"
      />
      <p
        class="pixel-font pixel-md text-light mb-4"
        data-aos="fade-up"
        data-aos-delay="300"
        data-aos-duration="800"
      >
        Prepare-se para testar seu conhecimento!
      </p>
      <button
        class="btn btn-outline-light pixel-button mb-4"
        routerLink="/build-quiz"
        data-aos="fade-up"
        data-aos-delay="400"
        data-aos-duration="800"
      >
        Jogar Agora
      </button>
    </div>
  </div>
</div>
