.bg-glass {
  background: rgba(18, 0, 38, 0.55);
  border: 2px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.05);
}

.btn-plus {
  color: var(--primary);
  border: none;
  background-color: rgba(18, 0, 38, 0.55);
}

.btn-trash {
  color: var(--secondary);
  border: none;
  background-color: rgba(18, 0, 38, 0.55);
}

.btn-icon:hover {
  background-color: var(--text);
}
