<main class="container text-center" @fadeInSection>
  <div class="row d-flex justify-content-end">
    <div class="col-12 col-lg-6 offset-lg-3">
      <h2 class="subtitle">Bem-vindo, Jogador!</h2>
      <p class="text">
        O Mind-Rush é um jogo de perguntas e respostas feito para desafiar seu
        cérebro! Enfrente quizzes em diferentes categorias, evolua seus
        conhecimentos e prove que você é o mestre da mente!
      </p>
      <button routerLink="/build-quiz" class="btn-primary">Jogar Agora</button>
    </div>
  </div>
</main>
